@import "./reset-styles.css";
@import "./variables.css";

body {
    background-color: var(--light-color);
    font-family: 'Jost', sans-serif;
}
main{
    min-width: 350px;
    max-width: 450px;
    margin: 0 auto;

}
.box {
    border-radius: 8px;
    padding: var(--space-unit);
    background-color: var(--light-color);
    border: none;
    display: block;
    width: 400px;
}
aside {
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
}
nav{
    margin:  calc(var(--space-unit) * 3);
}
div {
    margin-top: calc(var(--space-unit) * 3);
}
h3 {
    margin-top: calc(var(--space-unit) * 3);
}
h3, h4 {
    color: var(--dark-color);
}
label {
    color: var(--dark-color);
}
.button{
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: bold;
    padding: calc(var(--space-unit) * .5) var(--space-unit);
    cursor: pointer;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    font-size: var(--text-sm);
    margin-top: calc(var(--space-unit) * 3);
    margin-bottom: calc(var(--space-unit) * 3);
}
.link{
    color: var(--dark-color);
    text-decoration: none;
    
}

.button-delete {
    background-color: var(--danger-color);
}
.button-cancel {
    background-color: var(--dark-color);
}
.button-add {
    background-color: var(--doing-color);
}
#profile-box {
    color: white;
    padding-top: 50px;
    position: relative;
}
#profile-box > span {
    background: var(--main-gradiente);
    max-width: 75px;
    border-radius: 100%;
    position:absolute;
    top: -10px;
  }