<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700;900&display=swap"
      rel="stylesheet"/>    

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/style.css")}/>
  </head>
  <body>
    <section>
      <header>
        <h1 id="title">Expert Profile: <%= @expert.name %> </h1>
      </header>
      <main>
        <div id="card">
          <div class="mbe">
            <img
            class="imgProfile mb" src={Routes.static_path(@conn, "/images/expert.png")}
            alt="experts" >
          </div>
          <div id="container">
            <h2>Name:<%= @expert.name %></h2>
            <h2>Edad:  <%= @expert.age %></h2>
            <div class="details mb">               
              <div>
                <strong> SPECIALITIES</strong>
                <p><%= @expert.specialities |> Enum.map(&(&1.name <> " "))%></p>
              </div>
            </div>
            <strong> Sex </strong>
            <p class="description mb">
              <%= @expert.sex %>
            </p>
            <div class="details mb">               
              <div>
                <span><%= link "Edit", to: Routes.expert_path(@conn, :edit, @expert) %></span> |
                <span><%= link "Back", to: Routes.expert_path(@conn, :index) %></span>
              </div>
            </div>
          </div>
        </div>
      </main>
      <br>
    </section>
  </body>
</html>

